/* RESET */

* {
    font-family: 'Arima Madurai', cursive;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

p {
    margin: 0;
    padding: 0;
}


/* APP */

body {
    background: #EFECCA
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oleo Script', cursive;
}


/* HEADER */

header {
    height: 200px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

header .row {
    width: 100%
}

header img {
    margin: 0 auto;
    margin-top: 1em;
}


/* NAVBAR */

.navbar {
    margin-bottom: 0;
}


/* SLIDER */

#slider {
    height: auto;
}

.carousel-inner .item img {
    width: 100%;
}

.carousel-caption p,
.carousel-caption h2 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.carousel-caption p {
    font-size: 1.3em;
    font-weight: bold;
}

.fa-star {
    color: #FFD700;
}


/* CONTENT PAGE */

#contentHomePage {
    margin-top: 30px
}

#contentHomePage section {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
}