/* RESET */

* {
    font-family: 'Arima Madurai', cursive;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

p {
    margin: 0;
    padding: 0;
}

strong {
    font-weight: normal;
}


/* APP */

body {
    background: #EFECCA;
    padding-bottom: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oleo Script', cursive;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-20 {
    margin-bottom: 30px;
}

.mr-20 {
    margin-right: 20px;
}

.mx-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.my-10 {
    margin-right: 10px;
    margin-left: 10px;
}

.mt-40 {
    margin-top: 40px;
}

.px-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.margin-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.padding-10 {
    padding: 10px;
}

hr.style-three {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

hr.style-seven {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    margin-bottom: 0;
}

hr.style-seven:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

footer,
.margin-30 {
    margin: 30px 0;
}

.noPadding {
    padding: 0;
}

.noMargin {
    margin: 0;
}

.margin-top-50 {
    margin: 50px 0;
}

.border-t {
    border-top: 1px dashed darkgrey;
}

.border-b {
    border-bottom: 1px dashed darkgrey;
}

.border-r {
    border-right: 1px dashed darkgrey;
}

.border-l {
    border-left: 1px dashed darkgrey;
}


/* HEADER */

header {
    height: 200px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

header .row {
    width: 100%
}

header img {
    margin: 0 auto;
    margin-top: 1em;
}


/* NAVBAR */

.navbar {
    margin-bottom: 0;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.goToTop {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 99;
}

.goAffixTop {
    position: fixed;
    top: 10px;
    z-index: 99;
}


/* SLIDER */

#slider {
    height: auto;
}

.carousel-inner .item img {
    width: 100%;
}

.carousel-caption p,
.carousel-caption h2 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.carousel-caption p {
    font-size: 1.3em;
    font-weight: bold;
}

.fa-star,
.fa-star-half-o,
.fa-star-o {
    color: #E2BB49;
}


/* CONTENT PAGE */

.contentPage section,
.contentPage aside>div {
    background: #FBFBFB;
    border-radius: 5px;
    -webkit-box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.75);
    margin-top: 50px;
    margin-bottom: 50px;
}

#hotelContact {
    background: #FBFBFB;
    border-radius: 5px;
    -webkit-box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.75);
}

.headerSection,
.bodySection,
.footerSection {
    padding: 20px;
}

.googleMaps {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}

div.mix > .thumbnail {
    min-height: 270px;
}

div.mix > .thumbnail > .caption > h3 {
    font-size: 2.3em;
}

.listChambrePrice {
    font-weight: bold;
    font-size: 1.3em;
    text-decoration: underline;
}

#listImageRestaurant>img {
    width: 100%
}

#listImageSpa>img {
    width: 100%
}

.youtube {
    width: 100%;
    height: 315px;
}

.magazine:hover {
    cursor: pointer;
}

textarea {
    resize: vertical;
    width: 100%
}

.media {
    border: 1px dashed black;
    padding: 20px;
}

.link-custom {
    background: darkgrey;
    border-radius: 8px;
    padding-right: 10px;
    padding-left: 10px;
}

.link-custom:hover {
    background: #E2BB49;
    transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    /* opera */
    -ms-transition: all 0.3s linear;
    /* IE 10 */
    -moz-transition: all 0.3s linear;
    /* Firefox */
    -webkit-transition: all 0.3s linear;
    /*safari and chrome */
}

#btnGoTop {
    display: none;
    position: fixed;
    right: 25px;
    bottom: 25px;
    cursor: pointer;
    z-index: 99;
}

#btnGoTop:hover {
    transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    /* opera */
    -ms-transition: all 0.5s linear;
    /* IE 10 */
    -moz-transition: all 0.5s linear;
    /* Firefox */
    -webkit-transition: all 0.5s linear;
    /*safari and chrome */
    color: dimgray;
}

#other {
    position: fixed;
    top: 25px;
    right: 25px;
    z-index: 100;
}

#other ul li {
    display: inline-block;
}

#other a:hover {
    color: dimgray;
}

table tr td {
    padding: 10px !important;
}


/* FOOTER */

footer>div>ul {
    text-align: center;
}

footer>div>ul>li {
    display: inline-block;
    margin: 0 10px;
    padding: 10px;
}

footer>div>ul>li:hover {
    background: darkgrey;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.75);
    transition: all 0.8s linear;
    -o-transition: all 0.8s linear;
    /* opera */
    -ms-transition: all 0.8s linear;
    /* IE 10 */
    -moz-transition: all 0.8s linear;
    /* Firefox */
    -webkit-transition: all 0.8s linear;
    /*safari and chrome */
}

footer .listPartage li:hover {
    background: none;
    border-radius: none;
    cursor: pointer;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

footer .listPartage li a span.facebook {
    color: #4C67A1;
    font-size: normal;
    transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    /* opera */
    -ms-transition: all 0.3s linear;
    /* IE 10 */
    -moz-transition: all 0.3s linear;
    /* Firefox */
    -webkit-transition: all 0.3s linear;
    /*safari and chrome */
}

footer .listPartage li a span.twitter {
    color: #55ACEE;
    font-size: normal;
    transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    /* opera */
    -ms-transition: all 0.3s linear;
    /* IE 10 */
    -moz-transition: all 0.3s linear;
    /* Firefox */
    -webkit-transition: all 0.3s linear;
    /*safari and chrome */
}

footer .listPartage li a span.gglPlus {
    color: #DD4F43;
    font-size: normal;
    transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    /* opera */
    -ms-transition: all 0.3s linear;
    /* IE 10 */
    -moz-transition: all 0.3s linear;
    /* Firefox */
    -webkit-transition: all 0.3s linear;
    /*safari and chrome */
}

footer .listPartage li a span:hover {
    font-size: 1.8em;
    transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    /* opera */
    -ms-transition: all 0.3s linear;
    /* IE 10 */
    -moz-transition: all 0.3s linear;
    /* Firefox */
    -webkit-transition: all 0.3s linear;
    /*safari and chrome */
}